@import url(style.css);
@import url(text.css);
@import url(navbar.css);
@import url(content.css);
@import url(container.css);

@import url(button.css);
nav {
    padding: 30px 0;
}

.navbar-shrink {
    padding: 20px 0;
}



.row9 {
    display: flex;
    flex-direction: row;
    gap: 30px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
    overflow: hidden;
}

.col-md-2 {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    width: 148px;
    position: relative;
    overflow: hidden;
}

.h-55 {
    color: var(--light-text-color, #ffffff);
    text-align: left;
    font: var(--h-5, 700 16px/24px "Montserrat", sans-serif);
    position: relative;
}

.div6 {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
}

.link6 {
    color: var(--light-text-color, #ffffff);
    text-align: left;
    font: var(--link, 600 14px/24px "Montserrat", sans-serif);
    position: relative;
}

.col-md-22 {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    width: 152px;
    position: relative;
    overflow: hidden;
}

.col-md-45 {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    width: 321px;
    position: relative;
    overflow: hidden;
}

.div7 {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
}

.feature-item {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
    overflow: hidden;
}

.bx-bx-phone {
    flex-shrink: 0;
    position: relative;
    overflow: visible;
}

.h-68 {
    color: var(--light-text-color, #ffffff);
    text-align: left;
    font: var(--h-6, 600 14px/24px "Montserrat", sans-serif);
    position: relative;
    width: 205px;
    height: 29.25px;
}

.bx-bx-map {
    flex-shrink: 0;
    position: relative;
    overflow: visible;
}

.carbon-send-alt {
    flex-shrink: 0;
    position: relative;
    overflow: visible;
}

.div8 {
    background: #fafafa;
    padding: 120px 0px 120px 0px;
    align-self: stretch;
    flex-shrink: 0;
    height: 68px;
    position: relative;
    overflow: hidden;
}

.container11 {
    padding: 25px 0px 25px 0px;
    display: flex;
    flex-direction: column;
    gap: 0px;
    align-items: flex-start;
    justify-content: flex-start;
    width: 1050px;
    position: absolute;
    left: calc(50% - 525px);
    top: 0px;
    overflow: hidden;
}

.row10 {
    display: flex;
    flex-direction: row;
    gap: 213px;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
    overflow: hidden;
}

.col-md-7 {
    display: flex;
    flex-direction: column;
    gap: 0px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    width: 600px;
    position: relative;
    overflow: hidden;
}

.made-with-love-by-figmaland-all-right-reserved {
    color: var(--second-text-color, #737373);
    text-align: left;
    font: var(--h-6, 600 14px/24px "Montserrat", sans-serif);
    position: relative;
}

.col-md-64 {
    display: flex;
    flex-direction: column;
    gap: 0px;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    width: 236px;
    position: relative;
    overflow: hidden;
}

.social-media {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
    overflow: hidden;
}

.ant-design-facebook-filled {
    flex-shrink: 0;
    position: relative;
    overflow: visible;
}

.ant-design-instagram-outlined {
    flex-shrink: 0;
    position: relative;
    overflow: visible;
}

.ant-design-twitter-outlined {
    flex-shrink: 0;
    position: relative;
    overflow: visible;
}

.carbon-logo-youtube {
    flex-shrink: 0;
    position: relative;
    overflow: visible;
}
