.desktop,
.desktop * {

    box-sizing: border-box;
    padding-right: auto;
    padding-left: auto;
    text-align: center;
}

.container {
    max-width: 1240px;
    padding-right: auto;
    padding-left: auto;
    text-align: center;

}

.desktop {
    background: #ffffff;
    display: flex;
    flex-direction: column;
    gap: 0px;
    align-items: flex-start;
    justify-content: flex-start;
    width: 1440px;
    height: 5396px;
    position: relative;
    overflow: hidden;
    padding-right: auto;
    padding-left: auto;
    text-align: center;
}

.header-8 {
    background: #fafafa;
    padding: 120px 0px 120px 0px;
    align-self: stretch;
    flex-shrink: 0;
    height: 924px;
    position: relative;
    overflow: hidden;
    position: sticky;

}

.background {
    height: 710px;
    position: absolute;
    right: 0px;
    left: 0px;
    top: 0px;
    overflow: hidden;
}

.cover {
    position: absolute;
    right: 0px;
    left: 0px;
    bottom: -80px;
    top: 80px;
    overflow: hidden;
}

.container {
    padding: 80px 0px 80px 0px;
    display: flex;
    flex-direction: column;
    gap: 80px;
    align-items: flex-start;
    justify-content: flex-start;
    max-width: 1600x;
    position: absolute;
    left: calc(50% - 700px);
    top: 104px;

}

.row {
    display: flex;
    flex-direction: row;
    gap: 120px;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
    overflow: hidden;
}

.col-md-6 {
    display: flex;
    flex-direction: column;
    gap: 35px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    width: 509px;
    position: relative;
    overflow: hidden;
}

.h-1 {
    color: var(--text-color, #252b42);
    text-align: left;
    font: var(--h-1, 800 58px/80px "Montserrat", sans-serif);
    position: relative;
    width: 509px;
}

.h-4 {
    color: var(--second-text-color, #737373);
    text-align: left;
    font: var(--h-4, 500 20px/30px "Montserrat", sans-serif);
    position: relative;
}